.venda-box {
   background-color: var(--color-2);
   display: flex;
   padding: var(--gap);
   margin: var(--gap);
   border-radius: var(--gap);
   gap: var(--gap);
}

.venda-box .dataPrice {
   margin-left: auto;
}